
#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 26px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: #fff;
    img {
        height: 100%;
        margin: 0 10px;
    }
  }
  .site-layout-background{
    display: flex;
    justify-content: space-between;
    &>div {
      margin-right: 15px;
    }
  }
  
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  .ant-layout {
    min-height: 100vh;
  }